<!DOCTYPE html>
<html lang="en">
<head>
  <title>Todo List</title>
</head>
<body>
  <!-- <% if (kindOfDay === 'Saturday' || kindOfDay === 'Sunday') { %>
    <h1><%= kindOfDay %> Todo List</h1>
  <% } else { %>
    <h1><%= kindOfDay %> Todo List</h1>
  <% } %> -->
  <h1>Today is <%= kindOfDay %> </h1>
  <p>Add new tasks to the list!</p>

  <ul>
    <li>item1</li>
    <li>item2</li>
    <!-- <li><%= newListItem ></li> -->
    <!-- need to loop to add new li -->
    <% for (var i = 0; i < newListItems.length; i++) { %>
      <li> <%= newListItems[i] %> </li>
    <% } %>

  </ul>

  <form action="/" method="post">
    <input type="text" name="newItem">
    <button type="submit" name="button">Add</button>
  </form>

</body>
</html>