<!DOCTYPE html>
<html lang="en">
<head>
  <title>Todo List</title>
</head>
<body>
  <!-- <% if (kindOfDay === 'Saturday' || kindOfDay === 'Sunday') { %>
    <h1><%= kindOfDay %> Todo List</h1>
  <% } else { %>
    <h1><%= kindOfDay %> Todo List</h1>
  <% } %> -->
  <h1>Today is <%=kindOfDay%> </h1>

  <form action="/add" method="POST">
    <input type="text" name="newItem">
    <button type="submit" name="add">add new task</button>

    <h3> Added Task </h3>
    <ul style="list-style: none;">
      <%  for(var i = 0 ; i < newListItems.length; i++) { %>
      <li>

        <input type="checkbox" name="check" value="<%= newListItems[i] %>" />
        <%= newListItems[i] %>
      </li>
      <%  } %>
    </ul>

    <button type="submit" name="remove" formaction="/removeme">remove task</button>

  </form>

    <h3> Completed Task </h3>
    <ul style="list-style: none;">
      <% for(var i = 0; i < completeItems.length; i++){ %>
      <li><input type="checkbox" checked><%= completeItems[i] %> </li>
      <% } %>
    </ul>

</body>
</html>